
{% extends 'base.html' %}
{% block content %}

<div class="container mt-4">

    <div class="card shadow border-0" style="background-color: #bce8ec;">
        <div class="card-body p-5">

            <h2 class="fw-bold text-center mb-4">
                About project
            </h2>

            <p class="text-center">
                College Smart Portal is a web-based platform designed to
                simplify college management activities. It helps students,
                faculty, and administrators access important information
                quickly and efficiently.
            </p>

            <hr>

            <h4 class="fw-bold">Key Features</h4>

            <ul>
                <li>Student Information Management</li>
                <li>Notice Board System</li>
                <li>Attendance Tracking</li>
                <li>Result Management</li>
                
            </ul>

            <hr>
            <hr>

            <h4 class="fw-bold text-center mb-3" style="color:#133146;">
            About Government Polytechnic Hingoli</h4>


<p>
    Government Polytechnic Hingoli was established in 2009 under the
    Directorate of Technical Education, Maharashtra. The institute is
    approved by AICTE and affiliated with the Maharashtra State Board
    of Technical Education (MSBTE). The campus is located at MIDC
    Limbala, Hingoli and provides quality technical education to
    students across the region. 
</p>

  <p>
    The institute offers diploma programs in engineering disciplines
    such as -  <ul><li>Computer Engineering</li> <li>Mechanical Engineering</li> 
    <li>Electronics & Telecommunication Engineering. </li></ul>

   <p> Government Polytechnic Hingoli focuses on academic excellence, skill development and
    industry-oriented technical education to prepare students for
    successful careers. </p>
    </p>

    <p>
    With modern infrastructure, laboratories, library facilities and
    a student-focused learning environment, the institute aims to
    transform human lives through quality technical education and
    sustainable development. 
    </p>

            <h4 class="fw-bold">Project Objective</h4>

            <p>
                The objective of this project is to provide a centralized
                platform where students and faculty can access academic
                information, notices, schedules, and results in an organized
                manner.
            </p>

            <hr>

            <h4 class="fw-bold">Technology Used</h4>

            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>Bootstrap</li>
                <li>Python</li>
                <li>Flask</li>
            </ul>

        </div>
    </div>

</div>

{% endblock %}