{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <!-- Detail card -->
         <div class="card shadow-sm mb-4">
            <div class="card-header py-3"
            style="background-color : #2e0314;">
            <h4 class="mb-0 text-white"> 👤Student Detail</h4>
        </div>
        <div class="card-body p-4">
            <div class="text-center mb-4">
                <div class="avtar rounded-circle bg-secondary text-white
                d-inline-flex align-items-center justify-content-center"
                style="width: 80px; height: 80px; font-size: 30px;">
                {{students['name'][0]|upper }}
                </div>

         <h3 class="fw-bold">{{ students['name'] }}</h3>
        </div>
        <!--details -->
        <table class="table table-borderless">
            <tr>
                <th class="text-muted fw-bold"> name:</th>
                <td>{{ students['name']}}</td>
            </tr>
            <tr>
                <th class="text-muted fw-bold">Course:</th>
                <td>{{ students['course']}}</td>
            </tr>
            <tr>
                <th class="text-muted fw-bold">Subject:</th>
                <td>{{ students['subject']}}</td>
            </tr>
            <tr>
                <th class="text-muted fw-bold">Attendance:</th>
                <td>{{ students['attendance']}}</td>
            </tr>
            <tr>
                <td class="text-muted fw-bold">Marks</td>
                <td>{{ students['marks']}}
                
                <!-- progressbar -->
                 <div  class="progress mt-2"style="height:8px;">
                    <div class ="progress-bar


                    {% if students['marks'] >=85 %}bg-success
                    {% elif students['marks'] >=75 %}bg-primary
                    {% elif students['marks'] >=60 %}bg-warning
                    {% else %}bg-danger{% endif %}"
                    style="width : {{ students['marks']}}%;">
                    </div>
                 </div>
                </td>
            </tr>
            
            </table>
         </div>
        </div>
    </div>
</div>

{% endblock %}
