
{% extends "base.html" %}
{% block title %}Students - College Portal{% endblock %}
{% block content %}
<!-- page header -->
<!--<div class="d-flex justify-content-between align-items-center mb-2">-->


<div class="card mb-4 shadow-sm p-3"style="background:linear-gradient(135deg, #4b5366, #3a435c);">
<h2 class="fw-bold mb-3 text-white text-center">Students Records</h2>
<p class="text-white text-center">- Search students records by name,rollno,course...
</p><p class="text-white text-center mb-2">- View,search,update and manage student records efficiently.
</p>
</div>


    <!--<div>
        <h2 class="fw-bold mb-4">Students Records</h2>
        
    </div>-->
    
</div>

    {% set pass_students = students|selectattr('marks','ge',40)|list %}
    {% set fail_students = students|selectattr('marks','lt',40)|list %}
    {% set low_attendance = students|selectattr('attendance','lt',75)|list %}


<div class="row mb-4">
    <div class="col text-center">
        <span class="badge bg-primary px-3 py-2 me-2">
            👨‍🎓 Total: {{ students|length }}
        </span>
    
 

        <span class="badge bg-success px-3 py-2 me-2">
            ✅ Pass: {{ pass_students|length }}
        </span>

        <span class="badge bg-danger px-3 py-2 me-2">
            ❌ Fail: {{ fail_students|length }}
        </span>

        <span class="badge bg-warning text-dark px-3 py-2">
            ⚠️ Low Attendance: {{ low_attendance|length }}
        </span>
    </div>
</div>

<!-- Live Search -->
<div class="mb-3">
    <input type="text"
           id="searchInput"
           class="form-control form-control-lg"
           placeholder="🔍 Type to search students by name,roll,course...">   
    <div id="resultInfo" class="text-muted small mt-1"></div>
</div>



<!-- table-->
<div class="card shadow-sm">
    <div class="card-body p-0">
        {% if students|length == 0 %}
        <div class="text-center p-5">
            <h5 class="text-muted">No student records found.</h5>
            <a href="{{ url_for('add_student') }}" class="btn btn-primary mt-2">Add Student</a>
        </div>
        {% else %}
        <div class="table-responsive">
            
                <table class="table table-bordered table-hover">
  

                <thead style="background-color: #0b1f39; color:white;">
                    <tr>
                        <th class="py-3 ps-4">#</th>
                        <th class="py-3 ps-4">Name</th>
                        <th class="py-3 ps-4">Roll</th>
                        <th class="py-3 ps-4">Course</th>
                        <th class="py-3 ps-4">Subject</th>
                        <th class="py-3 ps-4">Marks</th>
                        <th class="py-3 ps-4">Result</th>
                        <th class="py-3 ps-4 text-center">Attendance</th>
                        <th class="py-3 ps-4 text-center">Action</th>
                    </tr>
                </thead>
                <tbody id="tableBody">
                    {% for student in students %}
                    <tr data-name="{{ student.name | lower}}"
                    data-roll="{{ student.roll | lower}}"
                    data-course="{{ student.course | lower}}">
                        <td class="ps-4 text-muted">{{ loop.index }}</td>

                        <td>
                            <div class="d-flex align-items-center">
                                
                                <span class="fw-bold">{{ student.name }}</span>
                            </div>
                        </td>

                        <td class="text-muted">{{ student.roll }}</td>
                        <td>{{ student.course }}</td>
                        <td>{{ student.subject }}</td>

                        <td>
                            <span class="fw-bold fs-5">{{ student.marks }}</span>
                            <span class="text-muted small">/100</span>
                        </td>

                        
                        <td class="text-center">
                            {% if student.marks >= 40 %}
                                <span class="badge bg-success px-3 py-2">Pass</span>
                            {% else %}
                                <span class="badge bg-danger px-3 py-2">Fail</span>
                            {% endif %}
                        </td>

                        
                        <td class="text-center">
                            {% if student.attendance >= 75 %}
                                <span class="badge bg-success px-3 py-2">
                                    {{ student.attendance }}%
                                </span>
                            {% else %}
                                <span class="badge bg-danger px-3 py-2">
                                    {{ student.attendance }}%
                                </span>
                            {% endif %}
                        </td>



                        <td class="text-center">

                            <a href="{{ url_for('student_detail', id=student.id) }}" class="btn btn-sm btn-outline-primary">View</a>
                            {% if session.role == 'admin' %}
                            <a href="{{ url_for('edit_student', id=student.id) }}" class="btn btn-sm btn-outline-warning">Edit</a>
                            <a href="{{ url_for('delete_student', id=student.id) }}" class="btn btn-sm btn-outline-danger" onclick="return confirm('Are you sure you want to delete {{student.name}}?')">Delete</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
</div>


<script>
    
    
    const searchInput = document.getElementById('searchInput');
    const allRows = document.querySelectorAll('#tableBody tr');
    const resultInfo = document.getElementById('resultInfo');

    searchInput.addEventListener('keyup', function() {
    const query = this.value.toLowerCase();
    let matchCount = 0;
    allRows.forEach(function(row) {
        const name = row.dataset.name || '';
        const roll = row.dataset.roll || '';
        const course = row.dataset.course || '';


        if(name.includes(query) || roll.includes(query) || course.includes(query)){
            row.style.display = '';
            matchCount++;
        } else {
            row.style.display = 'none';
        }
    });
    if (matchCount === 0){
        resultInfo.textContent = "NO students found";
    }
    else{
        resultInfo.textContent = matchCount + "students(s) found";
    }
});


</script>

{% endblock %}